{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% block title %} 
    Players 
{% endblock title %} 

{%block content %} 

<!--Shows list of players in a table-->

<a class="btn btn-primary" href="{% url 'player_register' %}"><i class="fa fa-plus" aria-hidden="true"></i><i> </a>

<table class="table">
    <tr>
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Ranking</th>
                <th scope="col">Detial</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td>{{player.p_id}}</td>
                <td>{{player.name}}</td>
                <td>{{player.ranking}}</td>
                <td><a class="btn btn-primary" href="{% url 'player_detial' pk=player.id %}">detial</a></td>
                <td><a class="btn btn-warning" href="{% url 'player_update' pk=player.id %}">update</a></td>
                <td><a class="btn btn-danger" href="{% url 'player_delete' pk=player.id %}">delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
</table>
{% if is_paginated %}
    {% include "_pagination.html" %}
{% endif %}

{% endblock content %}
